#topnav{
    background-color: #E5D68A !important;
}
.callimg{
    height: 30px !important;
    width: 40px !important;
    margin-left: 380px;
}
.numb{
    margin-top: 10px !important;
    padding-left: 15px;
    font-size: 20px;
}
.callimgs{
    height: 30px !important;
    width: 40px !important;
    margin-left: 30px;
}
.btn{
    width: 120px;
    margin-left: 30px;

}
#navbars{
    background-color: #50DBB4 !important;
}
.collapse{
    color: black !important;
    margin-left: 490px;
    font-weight: bolder;
}
.h5{
    font-size: 50px !important;
}
#imgofpana{
    height: 45px !important;
}
#sildertext{
    color: #0D0D0D !important;
    font-size: xx-large;
}
#sildertext p{
    color: #3DBE29 !important;
}
.h1,p{
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
}
.h1 span{
    color: #3DBE29;
}

.child{
    display: flex;
}
.p::first-line{
    font-size: x-large !important;
    font-weight: bolder !important;

}
#bulb{
   padding-left: 60px !important;
   margin-left: 40px !important;
}
.far{
    margin-left: 45px;  
    font-size: 100px;
     color: #3DBE29; 
      background-color: rgba(128,128,128, 0.3); 
      height: 200px; 
      width: 200px; 
      background-size: auto 110%; 
      border-radius: 50%;
      padding: 40px 50px;
}
.child_div{
    background-image: url('../Image/background.jpg');
    /* display: inline-flex; */
}

.child_div button{
    width: 230px;
    margin-bottom: 50px;
    
}
.child_div img{
    /* text-align: right; */
    /* margin-left: 0px; */
    /* width: 50%; */
}