*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    text-align: center;
    padding: 30px;
}
.parent>p{
   margin: 20px;
}
h2{
    color: #4DD637;
}
.btn{
    margin-top: 30px;
}